<%- include('./partials/header') %>
<div class="bg-green-400 p-4">
  <div class="flex flex-col gap-3">
    <h1>Welcome, <%= name %>!</h1>
    <p>Thank you for joining us. We’re excited to have you on board!</p>
  </div>
</div>
